.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}

/*.Avatar {
  display: flex;
  vertical-align: middle;
  width: 197px;
  height: 197px;
  border-radius: 50%;
}*/

.ProfileInfo{
  display: flex;
  justify-content:space-around;
  width: 475px;
  height: 248px;
}

.ProfileInfo__avatar{
  display: flex;
  align-items: center;
}

.ProfileInfo__avatar_img{
  display: flex;
  width: 197px;
  height: 197px;
  border-radius: 50%;
}

.ProfileInfo__id{
  display: block;
  align-self: center;
}

.ProfileInfo__id_name{
  font-size: 36px;
  color: #000000;
}

.ProfileInfo__id_unic{
  font-size: 18px;
  color: #9C9C9C;
  font-weight:bold;
}

.button_ProfileInfo__id{
}

.button_ProfileInfo__idb{
   font-size: 12px;
  background: #EE171F;
  color:#FFFFFF ;
  text-align: center;
  border-radius: 11.5px;
  display: inline-block;
  padding:5px 15px;
  margin: 20px auto;
}
